.ui-btn--black {
  --ui-btn-bg: var(--gray-a12-light);
  --ui-btn-bg-hover: color-mix(in var(--ui-space), var(--gray-a11-light), var(--gray-a12-light));
  --ui-btn-outline-color: var(--gray-a12-light);
  --ui-btn-color: white;
  &:where(.ui-btn--outline, .ui-btn--surface, .ui-btn--soft, .ui-btn--ghost, .ui-btn--link) {
    --ui-btn-color: var(--gray-a12-light);
    --ui-btn-outline-color: var(--gray-a6-light);
  }
  &:where(.ui-btn--outline, .ui-btn--surface) {
    --ui-btn-border-color: var(--gray-a5-light);
  }
  &:where(.ui-btn--link) {
    --ui-btn-bg: transparent;
    --ui-btn-bg-hover: transparent;
    --ui-btn-color-hover: var(--gray-a11-light);
  }
  &:where(.ui-btn--outline, .ui-btn--ghost) {
    --ui-btn-bg: transparent;
    --ui-btn-bg-hover: var(--gray-a1-light);
  }
  &:where(.ui-btn--soft) {
    --ui-btn-bg: var(--gray-a3-light);
    --ui-btn-bg-hover: var(--gray-a4-light);
  }
  &:where(.ui-btn--surface) {
    --ui-btn-bg: var(--gray-a1-light);
    --ui-btn-bg-hover: var(--gray-a2-light);
  }
}
