.ui-btn--danger {
  --ui-btn-bg: var(--danger-9);
  --ui-btn-bg-hover: var(--danger-10);
  --ui-btn-outline-color: var(--danger-a9);
  --ui-btn-color: white;
  &:where(.ui-btn--outline, .ui-btn--surface, .ui-btn--soft, .ui-btn--ghost, .ui-btn--link) {
    --ui-btn-color: var(--danger-a11);
    --ui-btn-outline-color: var(--danger-a6);
  }
  &:where(.ui-btn--outline, .ui-btn--surface) {
    --ui-btn-border-color: var(--danger-a5);
  }
  &:where(.ui-btn--outline, .ui-btn--ghost) {
    --ui-btn-bg: transparent;
    --ui-btn-bg-hover: var(--danger-a1);
  }
  &:where(.ui-btn--link) {
    --ui-btn-bg: transparent;
    --ui-btn-bg-hover: transparent;
    --ui-btn-color-hover: var(--danger-a12);
  }
  &:where(.ui-btn--soft) {
    --ui-btn-bg: var(--danger-a3);
    --ui-btn-bg-hover: var(--danger-a4);
  }
  &:where(.ui-btn--surface) {
    --ui-btn-bg: var(--danger-a1);
    --ui-btn-bg-hover: var(--danger-a2);
  }
}
