.ui-btn--info {
  --ui-btn-bg: var(--info-9);
  --ui-btn-bg-hover: var(--info-10);
  --ui-btn-outline-color: var(--info-a9);
  --ui-btn-color: white;
  &:where(.ui-btn--outline, .ui-btn--surface, .ui-btn--soft, .ui-btn--ghost, .ui-btn--link) {
    --ui-btn-color: var(--info-a11);
    --ui-btn-outline-color: var(--info-a6);
  }
  &:where(.ui-btn--outline, .ui-btn--surface) {
    --ui-btn-border-color: var(--info-a5);
  }
  &:where(.ui-btn--outline, .ui-btn--ghost) {
    --ui-btn-bg: transparent;
    --ui-btn-bg-hover: var(--info-a1);
  }
  &:where(.ui-btn--link) {
    --ui-btn-bg: transparent;
    --ui-btn-bg-hover: transparent;
    --ui-btn-color-hover: var(--info-a12);
  }
  &:where(.ui-btn--soft) {
    --ui-btn-bg: var(--info-a3);
    --ui-btn-bg-hover: var(--info-a4);
  }
  &:where(.ui-btn--surface) {
    --ui-btn-bg: var(--info-a1);
    --ui-btn-bg-hover: var(--info-a2);
  }
}
