.btn--secondary {
  --ui-btn-bg: var(--gray-9);
  --ui-btn-bg-hover: var(--gray-10);
  --ui-btn-color: white;
  --ui-btn-outline-color: var(--gray-a9);
  &:where(.btn--outline, .btn--surface, .btn--soft, .btn--ghost, .btn--link) {
    --ui-btn-color: var(--gray-a11);
    --ui-btn-outline-color: var(--gray-a6);
  }
  &:where(.btn--outline, .btn--surface) {
    --ui-btn-border-color: var(--gray-a5);
  }
  &:where(.btn--outline, .btn--ghost) {
    --ui-btn-bg: transparent;
    --ui-btn-bg-hover: var(--gray-a1);
  }
  &:where(.btn--link) {
    --ui-btn-bg: transparent;
    --ui-btn-bg-hover: transparent;
    --ui-btn-color-hover: var(--gray-a12);
  }
  &:where(.btn--soft) {
    --ui-btn-bg: var(--gray-a3);
    --ui-btn-bg-hover: var(--gray-a4);
  }
  &:where(.btn--surface) {
    --ui-btn-bg: var(--gray-a1);
    --ui-btn-bg-hover: var(--gray-a2);
  }
}
