:where(:root),
::backdrop {
  --animation-spring: spring var(--duration-3, 200) var(--ease-3, ease-out);
}

/* if @property is not supported */
@supports not (((height: 1lh) and (animation-timeline: none)) or ((height: 1lh) and (margin-trim: none))) {
  * {
    --spring-size: unset;
  }
}

@property --spring-size {
  syntax: "<number> || <percentage>";
  inherits: false;
  initial-value: 0;
}

@keyframes spring {
  from,
  100% {
    scale: 1;
  }
  50% {
    scale: var(--spring-size, 1.02);
  }
}
