.ui-alert {
  --ui-alert-gap: 0.75rem;
  --ui-alert-padding-y: 1rem;
  --ui-alert-padding-x: 1rem;
  --ui-alert-font-size: var(--text-sm);
  --ui-alert-border-radius: var(--radius);
  --ui-alert-bg: transparent;
  --ui-alert-color: inherit;
  --ui-alert-border-width: 1px;
  --ui-alert-border-style: solid;
  --ui-alert-border-color: transparent;
  --ui-alert-ui-btn-close-margin: 0 -0.25rem;
}

.ui-alert {
  display: flex;
  align-items: center;
  background: var(--ui-alert-bg);
  color: var(--ui-alert-color);
  border: var(--ui-alert-border-width) var(--ui-alert-border-style) var(--ui-alert-border-color);
  padding: var(--ui-alert-padding-y) var(--ui-alert-padding-x);
  width: fit-content;
  position: relative;
  font-size: var(--ui-alert-font-size);
  gap: var(--ui-alert-gap);
  border-radius: var(--ui-alert-border-radius);
  :where(.ui-btn-close) {
    margin: var(--ui-alert-ui-btn-close-margin);
  }
}
.ui-alert-inner {
  &:where(:first-child) {
    padding-left: calc(var(--ui-alert-gap) / 2);
  }
  &:where(:last-child) {
    padding-right: calc(var(--ui-alert-gap) / 2);
  }
}

.ui-alert--primary {
  --ui-alert-bg: var(--accent-a2);
  --ui-alert-color: var(--accent-a11);
  ::selection {
    color: var(--accent-a12);
    background: var(--accent-a4);
  }
  &:where(.ui-alert--surface) {
    --ui-alert-bg: var(--accent-a1);
    --ui-alert-border-color: var(--accent-a6);
  }
  &:where(.ui-alert--outline) {
    --ui-alert-bg: transparent;
    --ui-alert-border-color: var(--accent-a6);
  }
  &:where(.ui-alert--high-contrast) {
    --ui-alert-color: var(--accent-a12);
  }
}

.ui-alert--danger {
  --ui-alert-bg: var(--danger-a2);
  --ui-alert-color: var(--danger-a11);
  ::selection {
    color: var(--danger-a12);
    background: var(--danger-a4);
  }
  &:where(.ui-alert--surface) {
    --ui-alert-bg: var(--danger-a1);
    --ui-alert-border-color: var(--danger-a6);
  }
  &:where(.ui-alert--outline) {
    --ui-alert-bg: transparent;
    --ui-alert-border-color: var(--danger-a6);
  }
  &:where(.ui-alert--high-contrast) {
    --ui-alert-color: var(--danger-a12);
  }
}

.ui-alert--info {
  --ui-alert-bg: var(--info-a2);
  --ui-alert-color: var(--info-a11);
  ::selection {
    color: var(--info-a12);
    background: var(--info-a4);
  }
  &:where(.ui-alert--surface) {
    --ui-alert-bg: var(--info-a1);
    --ui-alert-border-color: var(--info-a6);
  }
  &:where(.ui-alert--outline) {
    --ui-alert-bg: transparent;
    --ui-alert-border-color: var(--info-a6);
  }
  &:where(.ui-alert--high-contrast) {
    --ui-alert-color: var(--info-a12);
  }
}

.ui-alert--secondary {
  --ui-alert-bg: var(--gray-a2);
  --ui-alert-color: var(--gray-a11);
  ::selection {
    color: var(--gray-a12);
    background: var(--gray-a4);
  }
  &:where(.ui-alert--surface) {
    --ui-alert-bg: var(--gray-a1);
    --ui-alert-border-color: var(--gray-a6);
  }
  &:where(.ui-alert--outline) {
    --ui-alert-bg: transparent;
    --ui-alert-border-color: var(--gray-a6);
  }
  &:where(.ui-alert--high-contrast) {
    --ui-alert-color: var(--gray-a12);
  }
}

.ui-alert--success {
  --ui-alert-bg: var(--success-a2);
  --ui-alert-color: var(--success-a11);
  ::selection {
    color: var(--success-a12);
    background: var(--success-a4);
  }
  &:where(.ui-alert--surface) {
    --ui-alert-bg: var(--success-a1);
    --ui-alert-border-color: var(--success-a6);
  }
  &:where(.ui-alert--outline) {
    --ui-alert-bg: transparent;
    --ui-alert-border-color: var(--success-a6);
  }
  &:where(.ui-alert--high-contrast) {
    --ui-alert-color: var(--success-a12);
  }
}

.ui-alert--warning {
  --ui-alert-bg: var(--warning-a2);
  --ui-alert-color: var(--warning-a11);
  ::selection {
    color: var(--warning-a12);
    background: var(--warning-a4);
  }
  &:where(.ui-alert--surface) {
    --ui-alert-bg: var(--warning-a1);
    --ui-alert-border-color: var(--warning-a6);
  }
  &:where(.ui-alert--outline) {
    --ui-alert-bg: transparent;
    --ui-alert-border-color: var(--warning-a6);
  }
  &:where(.ui-alert--high-contrast) {
    --ui-alert-color: var(--warning-a12);
  }
}
