.radio {
  --ui-radio-bg: var(--ui-control-bg);
  --ui-radio-color: white;
  --ui-radio-border-style: var(--ui-control-border-style);
  --ui-radio-border-width: var(--ui-control-border-width);
  --ui-radio-border-color: var(--ui-control-border-color);
  --ui-radio-border-color-hover: var(--ui-control-border-color-hover);
  --ui-radio-border-color-focus: var(--ui-control-border-color-focus);
  --ui-radio-border-radius: 50%;
  --ui-radio-outline-width: 0.25rem;
  --ui-radio-outline-color: var(--accent-a6);
  --ui-radio-outline-offset: -1px;
  --ui-radio-checked-bg: var(--accent-9);
  --ui-radio-checked-bg-hover: var(--accent-10);
  --ui-radio-checked-border-color: var(--accent-9);
  --ui-radio-checked-border-color-hover: var(--accent-10);
  --ui-radio-icon: var(--icon-check);
  --ui-radio-size: 1rem;
}

.radio {
  appearance: none;
  width: var(--ui-radio-size);
  height: fit-content;
  flex-shrink: 0;
  aspect-ratio: 1;
  color: var(--ui-radio-color);
  border-width: var(--ui-radio-border-width);
  border-color: var(--ui-radio-border-color);
  border-radius: var(--ui-radio-border-radius);
  background: var(--ui-radio-bg);
  background-size: contain;
  position: relative;
  transition-duration: var(--duration-1);
  transition-property: var(--transition-property);
  transition-timing-function: var(--ease-3);
  outline: var(--ui-radio-outline-width) transparent solid;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    border-color: var(--ui-radio-border-color-hover);
    cursor: pointer;
  }
  &:focus-visible {
    border-color: var(--ui-radio-border-color-focus);
    outline-color: var(--ui-radio-outline-color);
    outline-offset: var(--ui-radio-outline-offset);
  }
  &:is(:checked, [aria-checked="true"]) {
    background-color: var(--ui-radio-checked-bg);
    border-color: var(--ui-radio-checked-bg);
    &:hover {
      background-color: var(--ui-radio-checked-bg-hover);
      border-color: var(--ui-radio-checked-bg-hover);
    }
  }
  &:is(:checked, [aria-checked="true"])::before {
    content: "";
    display: block;
    position: absolute;
    aspect-ratio: 1;
    width: calc(var(--ui-radio-size) - 0.5rem);
    background-color: currentColor;
    border-radius: 50%;
  }
}
