.ui-tabs {
  --ui-tabs-bg: transparent;
  --ui-tabs-height: var(--ui-size-lg);
  --ui-tabs-border-width: 0;
  --ui-tabs-border-style: var(--ui-border-style);
  --ui-tabs-border-color: var(--ui-border-color);
  --ui-tabs-border-radius: var(--radius);
  --ui-tabs-padding: 0.25rem;
  --ui-tab-font-size: var(--text-sm);
  --ui-tab-font-weight: 500;
  --ui-tab-color: var(--gray-11);
  --ui-tab-hover-color: var(--gray-12);
  --ui-tab-current-color: var(--gray-12);
  --ui-tab-current-bg: var(--gray-a2);
  --ui-tab-padding: 0 1rem;
  --ui-tab-border-radius: calc(var(--radius) - 0.25rem);
}

.ui-tabs {
  display: flex;
  justify-content: center;
  padding: var(--ui-tabs-padding);
  border: var(--ui-tabs-border-width) var(--ui-tabs-border-style) var(--ui-tabs-border-color);
  border-radius: var(--ui-tabs-border-radius);
  background-color: var(--ui-tabs-bg);
  height: var(--ui-tabs-height);
}

.ui-tabs-tab {
  flex-grow: 1;
  position: relative;
  font-weight: var(--ui-tab-font-weight);
  font-size: var(--ui-tab-font-size);
  padding: var(--ui-tab-padding);
  color: var(--ui-tab-color);
  transition-duration: var(--duration-1);
  transition-property: var(--transition-property);
  transition-timing-function: var(--ease-3);
  border-radius: var(--ui-tab-border-radius);
  &:hover {
    color: var(--ui-tab-hover-color);
  }
}
.ui-tabs-tab.ui-active {
  background-color: var(--ui-tab-current-bg);
  color: var(--ui-tab-current-color);
  pointer-events: none;
}

.ui-tabs--sm {
  --ui-tabs-height: var(--ui-size-md);
  --ui-tab-font-size: var(--text-xs);
  --ui-tab-padding: 0 0.75rem;
}
.ui-tabs--outlined {
  --ui-tabs-bg: var(--ui-main-bg);
  --ui-tabs-border-width: var(--ui-border-width);
}
.ui-tabs--no-radius {
  --ui-tabs-padding: 0;
  --ui-tabs-border-radius: 0;
  --ui-tab-border-radius: 0;
}
