.tooltip {
  --ui-tooltip-color: var(--gray-0);
  --ui-tooltip-bg: var(--gray-12);
  --ui-tooltip-border-style: var(--ui-panel-border-style);
  --ui-tooltip-border-width: 0;
  --ui-tooltip-border-color: var(--ui-panel-border-color);

  --ui-tooltip-outline: var(--ui-panel-outline);
  --ui-tooltip-outline-offset: var(--ui-panel-outline-offset);
  --ui-tooltip-font-size: var(--text-xs);

  --ui-tooltip-shadow: var(--shadow);

  --ui-tooltip-padding: 0.25rem 0.5rem;

  --ui-tooltip-border-radius: var(--radius-sm);

  --ui-tooltip-boundary-offset-top: var(--ui-boundary-offset-top);
  --ui-tooltip-boundary-offset-end: var(--ui-boundary-offset-end);
  --ui-tooltip-boundary-offset-bottom: var(--ui-boundary-offset-bottom);
  --ui-tooltip-boundary-offset-start: var(--ui-boundary-offset-start);

  --ui-tooltip-arrow-width: 0.5rem;
  --ui-tooltip-arrow-height: 0.5rem;
  --ui-tooltip-flip: 1;
  --ui-tooltip-sticky: 1;
  --ui-tooltip-placement: top;
  --ui-tooltip-offset: 0.5rem;

  --ui-tooltip-transition-duration: var(--duration-2);
}

.tooltip {
  background-color: var(--ui-tooltip-bg);
  border-radius: var(--ui-tooltip-border-radius);
  border: var(--ui-tooltip-border-width) var(--ui-tooltip-border-style) var(--ui-tooltip-border-color);
  padding: var(--ui-tooltip-padding);
  font-size: var(--ui-tooltip-font-size);
  color: var(--ui-tooltip-color);
  box-shadow: var(--ui-tooltip-shadow);
  --ui-tooltip-boundary-offset: var(--ui-tooltip-boundary-offset-top) var(--ui-tooltip-boundary-offset-end)
    var(--ui-tooltip-boundary-offset-bottom) var(--ui-tooltip-boundary-offset-start);
  &::after {
    width: var(--ui-tooltip-arrow-width);
    height: var(--ui-tooltip-arrow-height);
    border: inherit;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .tooltip:where(.ui-enter-active) {
    animation: var(--animation-fade-in), var(--animation-scale-in-up);
    animation-duration: var(--ui-tooltip-transition-duration);
  }
  .tooltip:where(.ui-leave-active) {
    animation: var(--animation-fade-out), var(--animation-scale-out-down);
    animation-duration: var(--ui-tooltip-transition-duration);
  }
}
